<ion-view title="Alerts">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="list card">
            <div class="item item-divider">M&amp;S - Floral Midi Dress</div>
            <div class="item item-body">
                <p>
                    <span style="color:red;">This item is now on sale! -
                        <b>21%</b>
                    </span>
                    <br>New price:
                    <b>£35.50</b>
                    <s>£45.00</s>
                </p>
                <img src="img/ecMDXNARiEc5hZdHOmSQ_SD_01_T42_2749_E4_X_EC_90" width="100%" height="auto" style="width: 100%; height: auto;">
                <button class="button button-calm button-block  icon-left ion-ios-cart button-full">Go and buy now!</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">M&amp;S - Floral Midi Dress</div>
            <div class="item item-body">
                <p>
                    <span style="color:red;">This item is now on in stock!</span>
                    <br>
                    <b>£35.50</b>
                </p>
                <img src="img/ecMDXNARiEc5hZdHOmSQ_SD_01_T42_2749_E4_X_EC_90" width="100%" height="auto" style="width: 100%; height: auto;">
                <button class="button button-calm button-block  icon-left ion-ios-cart button-full">Go and buy now!</button>
            </div>
        </div>
    </ion-content>
</ion-view>