<ion-view title="My Items">
    <ion-content overflow-scroll="true" padding="true" class="">
        <ion-list>
            <ion-item class="item-divider">Marks &amp; Spencer</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/i2SGLyeRpemrpFsMJmew_SD_01_T42_2749_E4_X_EC_90">
                <h2>Floral Midi Dress</h2>
                <p>
                    <span style="color:red;">£35.50</span>
                    <s>£45.00</s>
                    <br>
                    <b>Colour</b>: Blue Mix
                    <br>
                    <b>Size:</b>10</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/2fgUINxsQgefwsq1kSQc_HT_01_T02_9424A_Y0_X_EC_0">
                <h2>Almond Toe Platform Court Shoes with Insolia®</h2>
                <p>£25.00
                    <br>
                    <b>Colour</b>: Black
                    <br>
                    <b>Size:</b>4</p>
            </ion-item>
            <ion-item class="item-divider">John Lewis</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/lQYHRYezTPqIzkYrHPQN_002459851">
                <h2>Jigsaw Merino Slouchy V Neck Jumper, French Clay</h2>
                <p>£110.00
                    <br>
                    <b>Size:</b>S</p>
            </ion-item>
            <ion-item class="item-divider">Asos</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/7vSS29iXQBWAs6TOd7LB_image1xxl.jpg">
                <h2>Fashion Union Aline Mini Skirt with Scallop Hem in Stripe</h2>
                <p>£25.00
                    <br>
                    <span style="color:red;">out of stock</span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
