.additem {

	&__step2 {
		.item-avatar {
			padding-left: 87px;

			> img:first-child {
				max-width: 55px;
				border-radius: 0;
			}
		}
	}

	&__colours {

		label {
			display: inline-block;
			width: 40px;
			height: 40px;
			border: 1px solid $base-color;

			&.selected {
				border: 1px solid $balanced;
			}
		}

	}

}

.retailers {
	align-items: center;

	&__item {
		margin-bottom: 1em;

		&--unselected img {
			opacity: 1;
		}
	}

	label {
		display: inline-block;
	}

	img {
		width: 100%;
		vertical-align: middle;
		opacity: 0.3;
	}

	input[type="radio"]:checked + img {
		opacity: 1;
	}
}
