.retailers {

	label {
		display: inline-block;
	}

	img {
		width: 100%;
		vertical-align: middle;
		opacity: 0.3;
	}

	&.unselected img {
		opacity: 1;
	}

	input[type="radio"]:checked + img {
		opacity: 1;
	}

}
